<div class="page-link {% if pagination is not empty and pagination.previous_page %} '' {% else %} 'disabled' {% endif %}" data-action="previous" data-icon="leftangle" title="Previous Page"></div>
<div class="page-link {% if pagination is not empty and pagination.next_page %} '' {% else %} 'disabled' {% endif %}" data-action="next" data-icon="rightangle" title="Next Page"></div>
<div class="page-info">
    {% if pagination is not empty and pagination.first_item %}
        {{ pagination.first_item }}
    {% else %}
        1
    {% endif %}

    -

    {% if pagination is not empty and pagination.last_item %}
        {{ pagination.last_item }}
    {% else %}
        1
    {% endif %}

    of

    {% if pagination is not empty and pagination.total_count %}
        {{ pagination.total_count }}
    {% else %}
        0
    {% endif %}

    Results
</div>
