{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * MagentoProductRelation plugin for Craft CMS 3.x
 *
 * MagentoProductRelation Settings.twig
 *
 * @author    Glue
 * @copyright Copyright (c) 2019 Glue
 * @link      https://www.glue.be
 * @package   MagentoProductRelation
 * @since     1.0.2
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("glue\\magentoproductrelation\\assetbundles\\magentoproductrelation\\MagentoProductRelationAsset") %}

{{ forms.selectField({
        label: 'Service type',
        instructions: 'Choose your API Service',
        id: 'service_type',
        name: 'service_type',
        options : [
            'rest','graphQl'
        ],
        value: settings['service_type'],
        required: true,
        errors: settings.getErrors('service_type')
    })
}}

{% for key,site in sites %}
    {% set siteValue = settings['craft_site_magento_store_view'] and settings['craft_site_magento_store_view'][key] is defined ? settings['craft_site_magento_store_view'][key] : 'null' %}

    {{ forms.selectField({
            label: 'Magento Storeview',
            instructions: 'Choose your storeview for site: ' ~ site,
            id: 'craft_site_magento_store_view',
            name: 'craft_site_magento_store_view[' ~ key ~ ']',
            options : magentoStoreViews ?? null,
            value: siteValue,
            errors: settings.getErrors('craft_site_magento_store_view')
        })
    }}
{% endfor %}

{{ forms.textField({
        label: 'URL',
        instructions: 'Submit the url here',
        id: 'url',
        name: 'url',
        value: settings['url'],
        required: true,
        errors: settings.getErrors('url')
    })
}}

{{ forms.textField({
        label: 'Media url',
        instructions: 'Submit the media url here, if it\'s different from the api url',
        id: 'media_url',
        name: 'media_url',
        value: settings['media_url'],
        errors: settings.getErrors('media_url')
     })
}}

{{ forms.textField({
        label: 'AuthToken',
        instructions: 'Submit the auth token here',
        id: 'authToken',
        name: 'authToken',
        value: settings['authToken'],
        required: true,
        errors: settings.getErrors('authToken')
    })
}}
