<tr>
    <th></th>
    <th>Sku</th>
    <th>Name</th>
    <th>Image</th>
    <th>Price</th>
    <th scope="col" data-attribute="link" data-icon="world" title="Link"></th>
</tr>

{% for item in products %}
    <tr data-sku="{{ item.sku }}">
        <td><input class="checkCheckbox" type="checkbox" value="{{item.sku}}"></td>
        <td>{{ item.sku }}</td>
        <td>{{ item.name }}</td>
        <td><img style="max-width: 50px;max-height: 50px;" src="{{ item.image }}" /></td>
        <td>{%if item.price %} € {{ item.price }} {% endif%}</td>
        <td><a href="{{ item.url }}" title="Visit webpage" rel="noopener" target="_blank" data-icon="world"></a></td>
    </tr>
{% else %}
    <tr>
        <td colspan="6" class="text-center">{{ 'No results for this query'|t }}</td>
    </tr>
{% endfor %}
