{% import "_includes/forms" as forms %}

{% spaceless %}

    <li data-sku="{{ product.sku }}" class="element large hasthumb removable">

        <div class="elementthumb">
            <img src="{{ product.image }}" style="height: 100%; width: auto;"/>
        </div>

        <a class="delete icon selectedContent" title="Remove"></a>

        <input type="hidden" name="{{ name  }}[]" value="{{ product.sku }}" />

        <div class="label">
            <span class="title">
                {{ product.sku }} {% if product.name %}- {{  product.name }}{% endif %}
            </span>
        </div>
    </li>

{% endspaceless %}


