{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * MagentoProductRelation plugin for Craft CMS 3.x
 *
 * MagentoProductRelationField Field Input
 *
 * @author    Glue
 * @copyright Copyright (c) 2019 Glue
 * @link      https://www.glue.be
 * @package   MagentoProductRelation
 * @since     1.0.2
 */
#}

{% import "_includes/forms" as forms %}

{% do view.setIsDeltaRegistrationActive(true) %}
{% do view.registerDeltaName(namespacedId) %}

<div class="elementselect">
    <ul id="show-content-{{id}}" class="elements" data-test="{{ name }}" data-products={{id}}>
        {% for product in selectedProducts %}
            {% include 'magento-product-relation/_includes/_sku' with { inputNamespaced : inputNamespaced, product:product, index: loop.index} %}
        {% endfor %}
    </ul>
</div>

<div class="btn add icon dashed show-modal-btn" id="show-modal-btn-{{id}}">Choose content</div>
<div class="modal elementselectormodal" id="my-modal-{{id}}" data-products-modals="{{id}}">
    <header class="header">
        <h2>Webshop content</h2>
    </header>
    <div class="body">
        <div class="main">
            <div class="search-wrapper">
                <div class="toolbar flex fullwidth">
                    <div>
                        <select class="padded btn menubtn statusmenubtn magento-search-field">
                            <option value="name">Name</option>
                            <option value="sku">Sku</option>
                        </select>
                    </div>

                    <div class="flex-grow texticon search icon clearable">
                        <input type="text" class="text fullwidth input-search-field" placeholder="Search on sku, name or description test" data-field-search="{{id}}">
                    </div>

                    <div>
                        <div type="submit" class="btn submit submit-search">Search</div>
                    </div>
                </div>
            </div>
            <div class="main-content">
                <table data-products-table="{{id}}" class="products-table">
                    <tr>
                        <th></th>
                        <th>Sku</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th scope="col" data-attribute="link" data-icon="world" title="Link"></th>
                    </tr>
                    {% for item in content %}
                        <tr data-sku="{{ item.sku }}">
                            <td><input class="checkCheckbox" type="checkbox" value="{{item.sku}}"></td>
                            <td>{{ item.sku }}</td>
                            <td>{{ item.name }}</td>
                            <td><img style="max-width: 50px;max-height: 50px;" src="{{ item.image }}" /></td>
                            <td>€ {{ item.price }}</td>
                            <td><a href="{{ item.url }}" title="Visit webpage" rel="noopener" target="_blank" data-icon="world"></a></td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="search-message-wrapper hidden centeralign">
                    <div class="spinner hidden"></div>
                    <div class="search-message"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer flex">
        <div id="count-spinner" class="spinner hidden"></div>
        <div id="count-container" class="light flex-grow">
            <div class="flex pagination">
                <div class="page-link disabled" data-action="previous" data-icon="leftangle" title="Previous Page"></div>
                <div class="page-link disabled" data-action="next" data-icon="rightangle" title="Next Page"></div>
                <div class="page-info"></div>
            </div>
        </div>
        <div class="buttons right">
            <div class="btn" id="close-modal-btn-{{id}}">Cancel</div>
            <div class="btn submit" id="close-modal-select-btn-{{id}}">Select</div>
        </div>
    </div>
</div>
{% js at head %}

    window['{{ namespacedId }}'] = {};

    window['{{ namespacedId }}'].inputNamespaced = "{{ inputNamespaced }}";
    window['{{ namespacedId }}'].products = [
    {% for product in content %}
        {% set item = {
            sku: product.sku,
            name: product.name,
            price: product.price,
        } %}
        {{ item|json_encode|raw }},
    {% endfor %}
    ];

    window.globals = {} || window.globals;

    window.globals.csrfTokenName = "{{ craft.app.config.general.csrfTokenName }}";
    window.globals.csrfTokenValue = "{{ craft.app.request.csrfToken }}";
    window.globals.queryActionUrl = "{{ actionUrl('magento-product-relation/query/index')}}"
    window.globals.querySiteParam = "{{ siteParam }}";
    window.globals.currentSite = "{{ currentSite }}";

{% endjs %}
