{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * MagentoProductRelation plugin for Craft CMS
 *
 * MagentoProductRelationField Field Settings
 *
 * @author    Glue
 * @copyright Copyright (c) 2019 Glue
 * @link      https://www.glue.be
 * @package   MagentoProductRelation
 * @since     1.0.2
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("glue\\magentoproductrelation\\assetbundles\\magentoproductrelation\\MagentoProductRelationAsset") %}

{{ forms.textField({
    label: 'Some Attribute',
    instructions: 'Enter some attribute here.',
    id: 'someAttribute',
    name: 'someAttribute',
    value: field['someAttribute']})
}}
